<div class="resume-card p-5">

  <h3 class="section-title mb-5">Personal Information</h3>

  <form [formGroup]="formGroup">
    <div class="row g-4">

      <!-- Full Name -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <input type="text" class="modern-input" placeholder=" " formControlName="fullName">
          <label>Full Name</label>
        </div>
      </div>

      <!-- Email -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <input type="email" class="modern-input" placeholder=" " formControlName="email">
          <label>Email</label>
        </div>
      </div>

      <!-- Phone -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <input type="text" class="modern-input" placeholder=" " formControlName="phone">
          <label>Phone Number</label>
        </div>
      </div>

      <!-- City -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <input type="text" class="modern-input" placeholder=" " formControlName="city">
          <label>City</label>
        </div>
      </div>

      <!-- Country -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <select class="modern-input" formControlName="country">
            <option value="" disabled selected hidden></option>
            <option *ngFor="let c of countries" [value]="c.iso2">
              {{ c.flag }} {{ c.name }}
            </option>
          </select>
          <label>Country</label>
        </div>
      </div>

      <!-- State -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <select class="modern-input" formControlName="state">
            <option value="" disabled selected hidden></option>
            <option *ngFor="let s of states" [value]="s.code">
              {{ s.name }}
            </option>
          </select>
          <label>State</label>
        </div>
      </div>

      <!-- LinkedIn -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <input type="text" class="modern-input" placeholder=" " formControlName="linkedin">
          <label>LinkedIn Username</label>
        </div>
      </div>

      <!-- GitHub -->
      <div class="col-md-6">
        <div class="input-group-modern">
          <input type="text" class="modern-input" placeholder=" " formControlName="github">
          <label>GitHub Username</label>
        </div>
      </div>

      <!-- Summary -->
      <div class="col-12">
        <div class="input-group-modern">
          <textarea rows="4" class="modern-input" placeholder=" " formControlName="summary"></textarea>
          <label>Professional Summary</label>
        </div>
      </div>

    </div>
  </form>
  <div class="d-flex justify-content-center gap-5">
    <button class="btn-prev" (click)="prevPage()">Previous</button>
    <button class="btn-next" (click)="nextPage()">Next</button>
  </div>

</div>