// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$cyan-palette,
        tertiary: mat.$orange-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: dark;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  //   background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;

  //   margin: 0;
  min-height: 100vh;
  background:
    radial-gradient(circle at 20% 30%, rgba(0, 255, 255, 0.12), transparent 40%),
    radial-gradient(circle at 80% 70%, rgba(255, 152, 0, 0.12), transparent 40%),
    linear-gradient(180deg, #0b0f14, #080a0e);
  color: #e8eaed;
  // cursor: default;
}

html,
body {
  height: 100%;
  width: 100%;
  background-attachment: fixed; /* Keeps gradient steady while scrolling */
  overflow-x: hidden; /* Prevent horizontal scroll jitters */
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
@media (max-width: 600px) {
  html {
    font-size: 14px;
  }
}
